<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197491396699-2cqn9c3jbrmsj29hsomgfddhi8uu3p0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197491396699-2cqn9c3jbrmsj29hsomgfddhi8uu3p0m</string>
	<key>API_KEY</key>
	<string>AIzaSyCVI5IorH2AbCHdCGI562uwfdcrR8E6eB8</string>
	<key>GCM_SENDER_ID</key>
	<string>197491396699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rustam.Chat-App-Firebase</string>
	<key>PROJECT_ID</key>
	<string>chatapp-e8c23</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-e8c23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197491396699:ios:f2bdc0c237c7f80e6eef7e</string>
</dict>
</plist>